@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav ul {
	list-style: none;
}
body {
	padding: 20px 100px 0px 100px;
	display: flex;
	flex-direction:column;
	align-items: center;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,193,1) 36%, rgba(72,0,255,1) 100%); 
	background-size: 300% 100%;
	animation: gradient 15s ease infinite; 
}

@keyframes gradient {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header, main, footer {
	background-color:azure;
	align-content:stretch;
  	max-width: 80%;
}

main {
	width: 100%;
}
footer {
	width: 100%;
	height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	background-color:azure;
}


/*Botonera*/

.botonera{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#09054F;
}

.itembotonera {
	display: flex;
	flex-direction: row;
}

.botonera a{
	padding: 10px 20px;
	color:azure;
	font-family: "Bitter", 'sans-serif';
	font-size: 20px;
	text-decoration: none;
	}

.botonera a:hover {
	color:#4522c3;
	background-color:azure;
	text-decoration: none;
}


.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 50px 0px 0px 0px;
}
.columnaB-container {
	max-width: 45%;
	display: flex;
}
.columnaC-container {
	display: flex;
}

/*Sobre Mi*/

h1 {
	font-family: 'Bitter', serif;
	color: #1F0A3F;
	font-size: 40px;
	margin-bottom: 0px;
	font-weight: 600;
}

img {
	width: 25%; 
	height: 25%; 
	margin-left:50px; 
	margin-top:50px;
	border-radius: 10%;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}
.columnaA-container{
	display: flex;
	flex-direction:row;
	}
.sobremi{
	padding-right: 15%;
	 align-self: center;
	padding-left:3%;
	padding-top: 5%;
}
.diseñador{
	color:#4522c3;
	font-style: italic; 
}
.sobremia{
	font-family: "Bitter", 'sans-serif';
	color: #4522c3;
	font-size: 25px;
	margin-top: 40px;
}

/* Experiencia Laboral*/

.columnaB-container{
	display:flex;
	flex-direction: column;
}
.experiencia1{
	margin-left: 40px;
	margin-bottom: 20px;
	
}
.experiencia2{
	margin-left: 40px;
	margin-bottom: 20px;
}
.experiencia3{
	margin-left: 40px;
	margin-bottom: 20px;
}

/* Datos Academicos*/

.columnaC-container{
	display:flex;
	flex-direction:row;	
}
.estudios{
	margin: 0PX 100PX 20PX 40PX;
}

/*Galeria*/

.Portafolio{
	display:inline-grid;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
}

.titulo{
	margin: 10PX 0PX 20PX 20PX
}

.Portafolio{
	margin-left: 3%;
	margin-bottom: 10%;
	margin-right: 10%;
}

.gallery{ 
	display:flex;
	align-items: baseline;
}

.gallery-image {
	width: 85%;
	height: 85%;
	object-fit: cover;
	transition: transform 400ms ease-out;
	margin-left: 6%;
	margin-top: 5%;
	
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*Texto*/

h2, h3, h4{
	font-family: 'Bitter', serif;
}

p, ul, h5{
	font-family: 'Poppins', sans-serif;
	
}
h2 {
	font-size: 22px;
	margin-bottom: 0px;
}
h3 {
	color:#4522c3;
	font-size: 30px; 
	align-self:flex-start;
	margin-top: 60px;
	margin-bottom: 15px;
	margin-left: 40px;
	font-weight: 600;
}
.datosacademicos{
	margin-left: 0px;
}

h4 {
	color:#1F0A3F;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	color:#000000;
	font-size: 15px; 
	align-self:flex-start;
	margin-top: 60px;
	margin-bottom: 15px;
	font-weight: 400;
}
p {
	color:black;
	font-size: 15px;
}
ul{
	color:black;
	font-size: 15px;
}

.creditos{
	font-size: 12px;
}
