@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	cursor: url("imagen/cursor.png"), auto; 
}
nav ul {
	list-style: none;
}
body {
	display: flex;
	flex-direction:column;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,193,1) 36%, rgba(72,0,255,1) 100%); 
	background-size: 300% 100%;
	animation: gradient 3s ease infinite;
	
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%; 
}
	50% {
		background-position: 100% 50%;
}
	100% {
		background-position: 0% 50%;
}
}

header, main, footer {
	background-color:azure;
	align-content:stretch;
	max-width: 1750px;
	width: 100%;
}

main {
	width: 100%;
}
footer {
	width: 100%;
	height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	background-color:azure;
}

/*INICIO*/

.nombre{
	font-size: 80px;
	font-weight: 100;
	text-transform: uppercase;
	margin-left: 0px;
	padding: 100px;
	background-color: #0F1696;
	color: azure;
	text-align: center;
	}

.nombre:hover{ 
	color: #09054F;
	background-color: azure;
	text-transform: lowercase;
	font-family:'Poppins', sans-serif;
	font-size: 70px;
	padding: 107px;
}
.nombre .sele{
	display: inline;
	font-weight: 700;
}



/*Botonera*/

.botonera{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color:#09054F;
}

.itembotonera {
	display: flex;
	flex-direction: row;
}

.botonera li a{
	padding: 10px 20px;
	color:azure;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	text-decoration: none;
	font-weight: 400;
	margin-right: 30px;
	}

.botonera a:hover {
	color:#09054F;
	background-color:azure;
	text-decoration: none;
}

.logo{
	display:flex;
	margin-left: 30px;
} 

/* SOBRE MI*/

.presentacion{
	display: flex;
	flex-direction: row;
	padding-left: 5%;
}

.sobremi{
	gap: 2%;
}

.sobremi p{
	padding-right: 12%;
	font-size: 18px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.columnaB-container {
	max-width: 32%;
	display: flex;
}
.columnaC-container {
	display: flex;
}

.programas ul li{
	font-size: 18px;
}


/*Sobre Mi*/

h1 {
	font-family: 'Poppins', sans-serif;
	color: #1F0A3F;
	font-size: 34px;
	margin-bottom: 0px;
	font-weight: 600;
}

.foto-de-perfil{
	width: 25%; 
	height: 25%; 
	margin-left:109px; 
	margin-top:50px;
	border-radius: 10%;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}
.columnaA-container{
	display: flex;
	flex-direction:row;
	padding-left:7%;
	}

.sobremi{
	padding-right: 15%;
	 align-self: center;
	padding-left:3%;
	padding-top: 5%;
}
.diseñador{
	color:#4522c3;
	font-style: italic;
	font-size: 25px;
	font-weight: 400;
}
.sobremia{
	font-family: 'Poppins', sans-serif;
	color: #4522c3;
	font-size: 25px;
	margin-top: 40px;
	font-weight: 500;
}

/* Experiencia Laboral*/

.experiencia1{
	margin-bottom: 20px;
	
}
.experiencia2{
	margin-bottom: 20px;
}
.experiencia3{
	margin-bottom: 20px;
}

/* Datos Academicos*/

.columnaC-container{
	display:flex;
	flex-direction:column;
	align-items: baseline;
}
.estudios{
	margin: 0PX 100PX 20PX 40PX;
}

/*Galeria*/

.Portafolio{
	display:inline-grid;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	
}

.titulo{
	margin: 30PX 50PX 0PX 20PX
	
}

.Portafolio{
	margin-left: 7%;
	margin-right: 7%;
}

.gallery{ 
	display:flex;
	flex-direction: row;
	align-items: baseline;
}


.gallery-image {
	width: 80%;
	height: 80%;
	object-fit: cover;
	transition: transform 400ms ease-out;
	margin-left: 6%;
	margin-top: 6%;
	border-radius: 10%;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	}

.gallery-image:hover {
	transform: scale(1.15);
}

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto-1 {
	background-image: url("imagen/osore.jpg");
}

#foto-2 {
	background-image: url("imagen/tomie.jpg");
}

#foto-3 {
	background-image:url("imagen/urge.jpg");
}
#foto-4 {
	background-image:url("imagen/campaña.jpg");
}

#fondo-galeria {
	background-color: black;
	opacity: 0.9;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

/*DIBUJOS*/

.contenedor {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 15%;
	gap: 30%;
	align-items: center;
	justify-content: center;
}

.contenedor img {
	position: absolute;
	left: 45;
	right: 45;
	bottom: 20;
	transition: opacity 1.5s ease-in-out;
}

.contenedor img.top:hover {
	opacity: 0;
}


/*VIDEO*/

.video{
	display: flex;
	margin-top: 60px;
	padding: 30px 12% 30px 10%;
	align-items: center;
	gap: 80px;
	align-self: stretch;
	background-image: url("imagen/fondo.jpg")

}

.contenido-video{
	display: flex;
	padding: 25px 25px ;
	align-items: flex-start;
	gap: 30px;
}

.contenido-video video{
	width: 500px;
	height: 500px;
	border-radius: 20px;
	border: 2px;
}

.contenido-info {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 20px 20px;
	gap: 30px 10px;
	background-color: azure;
	border-radius: 20px;
	
}
.contenido-info h4{
	display: flex;
	align-items: center;
	gap: 10px;
	color:#000000;
	font-size: 30px;
	
}

.contenido-info p{
	display: flex;
	padding-right: 3px;
	align-items: flex-start;
	gap: 10px;
	color:#000000;
}


/*Texto*/

h2, h3, h4{
	font-family: 'Poppins', sans-serif;
}

p, ul, h5{
	font-family: 'Poppins', sans-serif;
	
}
h2 {
	font-size: 22px;
	margin-bottom: 0px;
}
h3 {
	color:#4522c3;
	font-size: 30px; 
	align-self:flex-start;
	margin-top: 60px;
	margin-bottom: 15px;
	font-weight: 600;
}
.datosacademicos{
	margin-left: 0px;
}

h4 {
	color:#1F0A3F;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	color:#000000;
	font-size: 15px; 
	align-self:flex-start;
	margin-top: 60px;
	margin-bottom: 15px;
	font-weight: 400;
}
p {
	color:black;
	font-size: 18px;
}
ul{
	color:black;
	font-size: 15px;
}

.creditos{
	font-size: 12px;
}

/*Formulario*/

.contacto{
	display: flex;
	flex-direction: column;
	padding-bottom: 5%;
	padding-top: 5%;
	gap: 5%;
	align-items: center;
}

.contacto h4{
	display: flex;
    padding-right: 67px;
}

.form-img{
	display: flex;
	gap: 10%;
	padding-top: 3px;
	align-items: center;
}

.formulario form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	padding-top: 2%;
	font-family: Poppins;
}

textarea{
	display:flex;
	margin-top: 10px;
	height: 100px;
	width: 97%;
	padding: 5px;
	font-family: Poppins;
}

input[type=text], input[type=email]{
	display:flex;
	background-color: #ccc;
	padding: 5px;
	margin: 10px 0 5px 0px;
	font-family: Poppins;
	font-size: 16px;
	width: 400px;
}

input[type=submit]{
	background-color: #4522c3;
	color:#f5f5f5;
	font-family: Poppins;
	font-size: 16px;
	width: 20%;
	align-self: center;
	gap: 5%;
}

.contacto-2{
	font-size: 50px;
	font-weight: 70;
	text-transform: uppercase;
	margin-left: 0px;
	padding: 100px;
	background-color: #09054F;
	color: azure;
	text-align: center;
	}
.contacto-2:hover{ 
	color: #09054F;
	background-color: azure;
	text-transform: lowercase;
	font-family:'Poppins', sans-serif;
	font-size: 70px;
	padding: 85px; 
}
.contacto-2 .form{
	display: inline;
	font-weight: 700;
}

.imag-form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.contacto h4{
	margin-bottom: 25px;
}

/*aside*/

.redes-sociales{
	width: 4%;
	height: 4%;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
	gap:50%;
}

.redes-sociales i{
	color: azure;
	font-size: 25px;
}

/*RESPONSIVE EN EL HTML DE CONTACTO*/

@media screen and (max-width: 600px) {
	

	
	body {
		display: flex;
		flex-direction:column;}

	.botonera li a{
		font-size: 16px;
		font-family: 'Poppins', sans-serif;
		display: flex;
		flex-direction: row;
		align-content: center;
	}
	
	.botonera{
		display: flex;
		align-content: center;
		
	}
	.logo{
		margin-left: 5px}

	.redes-sociales i{
		font-size: 0px;
	}
	
	.contacto{
	display: flex;
	flex-direction: column;
	padding-bottom: 5%;
	padding-top: 5%;
	gap: 5%;
	align-items: center;
}

.contacto h4{
	display: flex;
	flex-direction: column;
	padding-left: 10%;
}

.form-img{
	display: flex;
	flex-direction: column;
	flex-direction: column-reverse;
	gap: 10%;
	padding-top: 6px;
	align-items: center;
	width: 15%;
	height: 20%;
}

.formulario form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	padding-top: 10%;
	font-family: Poppins;
}


.imag-form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}
	
	.contacto-2{
	font-size: 40px;
	font-weight: 70;
	text-transform: uppercase;
	margin-left: 0px;
	padding: 50px;
	background-color: #09054F;
	color: azure;
	text-align: center;
	}
	
.contacto-2:hover{ 
	color: #09054F;
	background-color: azure;
	text-transform: lowercase;
	font-family:'Poppins', sans-serif;
	font-size: 40px;
	padding: 85px; 
}
.contacto-2 .form{
	display: inline;
	font-weight: 700;
}
	
}






